<a href="https://colab.research.google.com/github/Antekov/Course-Stepik-Fast-start-in-AI/blob/master/homework/1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задание 1.3.1
В задаче бинарной классификации имеется 10 объектов. Истинные классы объектов описываются массивом `[0,1,1,0,0,1,1,0,0,0]`. Ответы, предсказанные алгоритмом машинного обучения, равны соответственно `[0,1,1,0,0,1,0,1,0,1]`. Вычислите значение метрики Precision. Ответ представьте в виде десятичной дроби.

---
## Решение

У нас есть два класса &mdash; нулевой и первый. Некоторый алгоритм относит любой подаваемый ему объект к одному из этих классов.

$TP$ (True Positive) &mdash; число правильно отнесенных к первому классу объектов.

$FP$ (False Positive) &mdash; число отнесенных к первому классу объектов, которые на самом деле относятся к нулевому классу.

$Precision$ &mdash; отношение числа правильно отнесенных к первому классу объектов к общему числу обектов, отнесенных к первому классу

$$ Precision = {\frac {TP} {TP + FP}} $$

Исходные данные задачи:

In [ ]:
y     = [0,1,1,0,0,1,1,0,0,0]
y_hat = [0,1,1,0,0,1,0,1,0,1]

Сумма $(TP+FP)$ &mdash; это количесиво единиц в массиве `y_hat`

In [ ]:
TP_FP = sum(y_hat)
TP_FP

5

$TP$ можно посчитать как количество единиц в массиве, полученном при поэлементной операции AND для `y` и `y_hat`

In [ ]:
import numpy as np
y = np.array(y)
y_hat = np.array(y_hat)

y & y_hat

array([0, 1, 1, 0, 0, 1, 0, 0, 0, 0])

In [ ]:
TP = int(sum(y & y_hat))
TP

3

Для ответа в виде обыкновенной дроби воспользуемся библиотекой *sympy*

In [ ]:
import sympy as sm

In [ ]:
Answer = sm.Rational(TP, TP_FP)
Answer

3/5

In [ ]:
Precision = float(Answer)
Precision

0.6

# Задание 1.3.2

В задаче бинарной классификации имеется 10 объектов. Истинные классы объектов описываются массивом `[0,1,1,0,0,1,1,0,0,0]`. Ответы, предсказанные алгоритмом машинного обучения, равны соответственно `[0,1,1,0,0,1,0,1,0,1]`. Вычислите значение метрики Recall. Ответ представьте в виде десятичной дроби.

---

## Решение

$TP$ (True Positive) &mdash; число правильно отнесенных к первому классу объектов.

$FN$ (False Positive) &mdash; число отнесенных к нулевом классу объектов, которые на самом деле относятся к первому классу.

$Recall$ &mdash; отношение числа правильно отнесенных к первому классу объектов к общему числу объектов, которые на самом деле относятся к первому классу

$$ Recall = \frac {TP} {TP + FN} $$

Сумма $(TP+FN)$ &mdash; это количество единиц в массиве `y`

In [ ]:
TP_FN = int(sum(y))
TP_FN

4

In [ ]:
Answer = sm.Rational(TP, TP_FN)
Answer

3/4

In [ ]:
Recall = float(Answer)
Recall

0.75

# Задание 1.3.3

В задаче бинарной классификации имеется 10 объектов. Истинные классы объектов описываются массивом `[0,1,1,0,0,1,1,0,0,0]`. Вероятности, предсказанные алгоритмом машинного обучения, равны соответственно `[0.35, 0.85, 0.75, 0.25, 0.05, 0.45, 0.95, 0.65, 0.15, 0.55]`. Вычислите значение метрики ROC-AUC. Ответ округлите до сотых. Разрешается использовать язык Python.

---

## Решение

Создадим таблицу номерами объектов, предсказанными моделью вероятностями отнесения к классу 1 и истинным классом каждого объекта.

In [ ]:
import pandas as pd

y = [0,1,1,0,0,1,1,0,0,0]
y_hat = [0.35, 0.85, 0.75, 0.25, 0.05, 0.45, 0.95, 0.65, 0.15, 0.55]

df = pd.DataFrame({'index': list(range(1, len(y)+1)), 'y_hat': y_hat, 'y': y})
df

   index  y_hat  y
0      1   0.35  0
1      2   0.85  1
2      3   0.75  1
3      4   0.25  0
4      5   0.05  0
5      6   0.45  1
6      7   0.95  1
7      8   0.65  0
8      9   0.15  0
9     10   0.55  0

Отсортируем таблицу по возрастанию вероятности

In [ ]:
df = df.sort_values('y_hat', ascending=False)
df

   index  y_hat  y
6      7   0.95  1
1      2   0.85  1
2      3   0.75  1
7      8   0.65  0
9     10   0.55  0
5      6   0.45  1
0      1   0.35  0
3      4   0.25  0
8      9   0.15  0
4      5   0.05  0

Посчитаем, сколько у нас объектов каждого класса

In [ ]:
class_objects = dict(df.y.value_counts())
class_objects

{0: 6, 1: 4}

Тогда квадрат с единичной стороной по вертикали разбивается на 4 уровня, а по горизонтали - на 6. Всего образуется 6*4 = 24 клетки. Площадь одной клетки будет равна:

In [ ]:
cell_square = 1 / np.prod(list(class_objects.values()))
cell_square

0.041666666666666664

Теперь будем двигаться по столбцу `y` и для каждой единицы будем увеличивать площадь столбца на одну ячейку, а для каждого нуля увеличивать общую площадь на площадь столбца

In [ ]:
total_cells = 0
column_cells = 0
for y in df.y:
  print(f'y = {y}: ', end='')
  if y == 1:
    column_cells += 1
    print(f'c = {column_cells}')
  else:
    total_cells += column_cells
    print(f't = {total_cells}')

print(f'\ntotal cells = {total_cells}')
print(f'cell_square = {cell_square}')
print(f'roc_auc = {round(total_cells*cell_square, 2)}')

y = 1: c = 1
y = 1: c = 2
y = 1: c = 3
y = 0: t = 3
y = 0: t = 6
y = 1: c = 4
y = 0: t = 10
y = 0: t = 14
y = 0: t = 18
y = 0: t = 22

total cells = 22
cell_square = 0.041666666666666664
roc_auc = 0.92

# Задание 1.3.4

В задаче регрессии имеется 5 объектов. Истинные значения целевой переменной равны `[10, 2, -1, 3, 7]`. Ответы, предсказанные алгоритмом машинного обучения, равны соответственно `[8, 1, 3, -1, 6]`. Вычислите значение метрики $Mean Squared Error$. Ответ представьте в виде десятичной дроби.

---

## Решение

Данные задачи

In [ ]:
y = np.array([10, 2, -1, 3, 7])
y_hat = np.array([8, 1, 3, -1, 6])

MSE = sum((y - y_hat)**2) / len(y)
MSE

7.6